script(type='text/x-handlebars-template', id='template-position')
    {{content.title}}
    p<span {{action edit target="ClientApp.PositionController"}}>edit</span>  <span {{action remove target="ClientApp.PositionController"}}>delete</span>
